#############################
# Name: Ian Cunningham
# Assignment: Final
# Purpose of the file: Ignore file for git repository
#############################

#Ignore all
*

#Do not ignore
!.gitignore
!Assignment1.vcxproj
!Assignment1.vcxproj.filters
!part.tbl
!*.cpp
!*.h
!README.md